html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 40vH;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    background-color: green;
}

header .top-nav {
    display: flex;
    justify-content: space-between;
}

header nav ul.bottom-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main .container {
    margin: 2em;
    width: 80vW;
    height: 80vH;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 2em;
    padding-left: 10vw;
    padding-right: 10vw;
}

main .container .box {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

main .container .first_box {
    background-image: url(IMG/amirali-mirhashemian-uhgJYtrO3fY-unsplash.jpg);
}

main .container .second_box {
    background-image: url(IMG/anna-tukhfatullina-food-photographer-stylist-Mzy-OjtCI70-unsplash.jpg);
}

main .container .third_box {
    background-image: url(IMG/brooke-lark-jUPOXXRNdcA-unsplash.jpg);
}

main .container .forth_box {
    background-image: url(IMG/chad-montano-eeqbbemH9-c-unsplash.jpg);
}

main .container .fifth_box {
    background-image: url(IMG/chad-montano-lP5MCM6nZ5A-unsplash.jpg);
}

main .container .sixt_box {
    background-image: url(IMG/chad-montano-lP5MCM6nZ5A-unsplash.jpg);
}

main .container .seventh_box {
    background-image: url(IMG/chad-montano-MqT0asuoIcU-unsplash.jpg);
}

main .container .eighth_box {
    background-image: url(IMG/george-zheng-0Kbjfwunink-unsplash.jpg);
}

main .container .nineth_box {
    background-image: url(IMG/thanos-pal-Djs02AtkOm4-unsplash.jpg);
}

main .container .titel {
    text-align: center;
    background-color: #000000;
    color: white;
    opacity: 0.7;
    position: relative;
    top: 70%;
}

footer {
    background-color: #000000;
    color: white;
    align-items: center;
    padding: 3em;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer ul a {
    text-decoration: none;
    color: white;
}

footer div.icon_container {
    display: flex;
    justify-content: center;
}

footer div.icon_container .icon {
    border-radius: 5em;
    background-color: white;
    margin: 2em;
}

footer .copy {
    text-align: center;
}

@media screen and (max-width: 1200px) and (min-width: 481px) {
    .container {
        grid-auto-columns: 1fr 1fr;
    }
}

@media screen and (max-with: 480px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}